*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background: linear-gradient(to top , red,yellow);
  height: 100vh;
  width: 100%;
  place-items: center;
  display: grid;
}

#clockdisplay{
    color: white;
    font-size: 80px;
}